.button{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: 0.75rem 1rem;
    color: #FFFFFF;
    border-radius: 1.5rem;
    cursor: pointer;
}

.blue{
    background-color: #477AFF;
}

.red{
    background-color: #FF4747;
}

.gray{
    background-color: #A0A0A0;
}